/* Page Content Styles */

section.page-content {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}

/* Main Content Styles */

section.page-content div.main-content-container {
    display: flex;
    flex: 1 0 auto;
}

/* Navbar Styles */

header.navbar-container {
    height: 75px;
    background-color: rgb(107, 123, 186);
}

header nav {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav h1 {
    color: whitesmoke;
}

/* Sidebar Styles */

aside.sidebar-container {
    background-color: rgb(226, 226, 226);
    flex: 1 0 125px;
    max-width: 200px;
}

aside.sidebar-container ul {
    margin: 0;
    padding: 0;
}

ul li {
    text-align: center;
    list-style: none;
    border-bottom: 1px solid black;
    padding: 1rem 0;
}

ul li a {
    color: black;
    text-decoration: none;
}

/* Board Styles */

section.board-container {
    background-color: antiquewhite;
    width: 1000px;
    flex: 1 0 auto;
}


/* Footer Styles */

footer.footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0.5rem 0;
    background-color: rgb(107, 123, 186);
    gap: 1rem;
    color: white;
}
